.post {
  border: 1px solid #f1f1f1;
  padding: 1em;
  margin: 1em 0em;
}

.post-header {
  /*background: #dfe3ee;*/
  width: 100%;
  position: relative;
  margin-bottom: 1em;
}

.post-header img {
  position: absolute;
}

.post-header span {
  display: block;
  margin-left: 4.5em;
}

.post h4 {
  line-height: 1.35;
  letter-spacing: -.08rem;
  font-size:  1.2em;
  margin: 0;
  position: relative;
  top: .8em;
}

.post h5 {
  line-height: 1.5;
  letter-spacing: -.05rem;
  margin: 0;
  font-size: .8em;
  position: relative;
  bottom: 1em;
}

.post-logo {
  border-radius: 25px;
}

.post-logo {
  float: left;
  margin: .5em 1em 0em .5em;
}

.post-image {
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 1px solid  #f1f1f1;
}

.alter {
  float: right;
  color: grey;
  font-size: .8em;
  cursor: default;
}

.edit {
  display: inline-block;
  padding: 0em .5em;

}

.delete {
  display: inline-block;
  padding: 0em .5em;
}


.like-counter {
  display: inline-block;
}

.like-button {
  float: right;;
}

@media (max-width: 550px) {
  .post-image{
    max-width: 100%;
  }
}
