aside {
font-family: 'Catamaran', sans-serif;
font-size: 1.5em;
text-align: center;
margin-top: 1.5em;
}

aside ul {
  list-style-type: none;
  padding: 1em 0em;
}

aside .bio {
  font-family: 'Roboto', sans-serif;
  font-size: .5em;
}

@media (max-width: 550px) {
  .nav-aside{display:none;}
}
