.edit-button {
  display: block;
  text-align: right;
  // cursor: pointer;
  // border-bottom: 1px solid #f1f1f1;
}

.edit-div {
  text-align: right;
  cursor: pointer;

}

.edit-text {
  font-family: 'Catamaran', sans-serif;
  font-weight: bolder;
  cursor: pointer;
  color: #42d1a8;
  display: block;
  border-bottom: 1px solid #f1f1f1;
}
