// * {
//   outline: 1px solid purple;
// }

body {
  margin: 0 auto;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  background-color: #f7f7f7;
  // background-image: url("https://ak1.ostkcdn.com/images/products/8367239/Black-Paw-Print-Tracks-Vinyl-Art-Quote-2b8aa210-db61-47e0-8fcd-3fb35c08e345_600.jpg");
  // background-attachment: fixed;
  // background-position: bottom;
  font-family: 'Roboto', sans-serif;
}

.post, form, aside{
  background-color: white;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: orange;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .columns {
    margin-left: 4%; }
  .columns:first-child {
    margin-left: 0; }


  .three.columns{ width: 22%; }
  .six.columns  { width: 48%; }
  .nine.columns { width: 74.0%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

button
 {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
button:hover,
button:focus
 {
  color: blue;
  border-color: #888;
  outline: 0; }

input,
textarea,
select {
  // height: 38px;
  padding: .6em 1em;
  background-color: white;
  border: 1px solid #D1D1D1;
  // border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: 1.5rem;}

  textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
    resize: vertical;
}

  input:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #33C3F0;
    outline: 0; }
  label,
  legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600; }
  fieldset {
    padding: 0;
    border-width: 0; }
  input[type="checkbox"],
  input[type="radio"] {
    display: inline; }
  label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal; }

  .u-full-width {
    width: 100%;
    box-sizing: border-box; }
  }
